/*.cover{
    height:100%;
    width: 100%;
    background-color: #66b3ff;
    position: absolute;
    z-index: 10000;
    transition: all 1s ease-out;
}

.coverwrap{
  display: grid;
}*/


.lin{
    color: black;
    text-decoration: none;
    text-underline-position: none;
}

p{
    font-family: 'Roboto', sans-serif;
}

#my{
     display:grid;
    font-size: 17px;
    /*grid-template-columns: 350px auto;*/
    height: 100%;
    width: 100%;
    padding-bottom: 20px;
    background-color: #a7dbd8;

}


#myPic{
    height: 300px;
   
}

#myPhoto{
    margin-left: 50px;
    margin-top: 30px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 350px;

}

#myBio{
   grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 50px;
   
    
}

#name{
font-family: 'Rakkas', cursive;
    font-size: 40px;
}

.bioOther{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

}

.wrapper{
   display: flex;
    flex-wrap: wrap;
    font-family: 'Fjalla One', sans-serif;
    font-size: 20px;
}

.navigation{
    font-family: 'Rakkas', cursive;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 100;
    position: sticky;
    top: -1px;
}

.navigation > a{
    color: white;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}

.navigation .icon {
    display: none;
    cursor: pointer;
}

.ImgContent{
    display: grid;
    margin-top: 60px;
}

.ContentRight{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
}

.ImageLeft{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 20px;
}


.ContentLeft{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 20px;
}

.ImageRight{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 20px;
}


#projects{
    padding: 10px;
}

.skills{
 display: inline-grid; 
 margin-top: 70px;
 width: 100%;
 justify-content: space-around;
}


.skill1{
 grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.skill2{
grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.skill3{
grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.skill4{
grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.skill5{
grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.skill6{
grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.heading{
    grid-column-start: 0;
    grid-column-end: 1;
    grid-row-start: 0;
    grid-row-end: 1;
    font-size: 30px;
    padding-top: 20px;
}


.fa{
    padding: 6px;
    border-radius: 100%;
    background-color: gainsboro;
    margin-right: 10px;
    margin-left: 10px;
}

#footer{
    margin-top: 75px;
    background-color: black;
    height: 10px;
}

/* ---------------------------------------------------------------------------*/
/*animation element*/

.animation-element {
    position: relative;
}

/*bounce up animation for the subject*/

.bounce-up .subject {
    opacity: 0;
    -moz-transition: all 700ms ease-out;
    -webkit-transition: all 700ms ease-out;
    -o-transition: all 700ms ease-out;
    transition: all 700ms ease-out;
    -moz-transform: translate3d(0px, 200px, 0px);
    -webkit-transform: translate3d(0px, 200px, 0px);
    -o-transform: translate(0px, 200px);
    -ms-transform: translate(0px, 200px);
    transform: translate3d(0px, 200, 0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.bounce-up.in-view .subject {
    opacity: 1;
    -moz-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate3d(0px, 0px, 0px);
}
/* ----------------------------------------------------------------------------*/

@media screen and (max-width: 700px) {

    .navigation a {display: none;}
    .navigation a.icon {
        float: right;
        display: block;
    }
    .navigation.resNavigation {position: sticky;}
    .navigation.resNavigation a.icon {
        float: right;
    }
    .navigation.resNavigation a{
        float: none;
        display: block;
        text-align: left;
    }
    .navigation{
        display: block;
    }

.ImgContent{
 justify-items: center;
 margin: auto;
}

.ContentRight{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 10px;
}

.ImageLeft{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 10px;
}


.ContentLeft{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 10px;
}

.ImageRight{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 10px;
} 

.skills{
    justify-items: center;
}

.skill1{
 grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.skill2{
grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.skill3{
grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.skill4{
grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.skill5{
grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.skill6{
grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#my{
 justify-items: center;
}

#myPic{
    height: 250px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

#myBio{
   grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

}